.vscode/**
.vscode-test/**
obj/**
out/**
bin/**
scripts/buildLsp.js
node_modules/**
extension.proj
.gitignore
webpack.config.js
setversion.js
version.json
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.pdb
